# Ignore node and composer dependencies
/frontend/node_modules/
/backend/vendor/

# Ignore frontend build files
/frontend/output.css
/frontend/dist/
/frontend/.cache/
/frontend/.vite/

# Ignore logs and temp files
npm-debug.log
yarn-error.log
pnpm-debug.log

# Laravel-specific ignores
/backend/bootstrap/compiled.php
/backend/storage/
backend/storage/*.key
/backend/public/storage
/backend/public/hot
/backend/public/build
/backend/public_html/storage
/backend/public_html/hot
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/.phpactor.json
/backend/auth.json

# Laravel Homestead and Vagrant
/backend/Homestead.yaml
/backend/Homestead.json
/backend/.vagrant

# System files
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*.tmp
.idea/
.vscode/
*.log

# Compiled frontend CSS (if not using version control for them)
frontend/output.css
